@use 'sass:color';

/* Website redesign */
$vivid-tangerine: #b5b5b5;
$ceil: #a3a3a3;
$caramel: #d4d4d4;
$dark-jungle-green: #171717;
$sapphire-blue: #262626;
$sapphire-blue-dark: #0a0a0a;
$purple-bright: #e5e5e5;
$green-bright: #404040;
$green-bright-tint-50: color.mix($green-bright, #fff, 50%);

:root {
  --vivid-tangerine: #{$vivid-tangerine};
  --ceil: #{$ceil};
  --caramel: #{$caramel};
  --dark-jungle-green: #{$dark-jungle-green};
  --sapphire-blue: #{$sapphire-blue};
  --sapphire-blue-dark: #{$sapphire-blue-dark};
  --green-bright: #{$green-bright};
  --green-bright-tint-50: #{$green-bright-tint-50};
  --purple-bright: #{$purple-bright};
}
