// Sass variables
// Neutral/grey
$ds-color-neutral-50: #fafafa;
$ds-color-neutral-100: #f5f5f5;
$ds-color-neutral-200: #e5e5e5;
$ds-color-neutral-300: #d4d4d4;
$ds-color-neutral-400: #a3a3a3;
$ds-color-neutral-500: #737373;
$ds-color-neutral-600: #525252;
$ds-color-neutral-700: #404040;
$ds-color-neutral-800: #262626;
$ds-color-neutral-900: #171717;
$ds-color-neutral-950: #0a0a0a;

// Green (Desaturated)
$ds-color-green-50: #f2f5f3;
$ds-color-green-100: #d6deda;
$ds-color-green-200: #b8c7bf;
$ds-color-green-300: #9ab0a5;
$ds-color-green-400: #7c988a;
$ds-color-green-500: #6b8275;
$ds-color-green-600: #516358;
$ds-color-green-700: #47574d;
$ds-color-green-800: #3c4a41;
$ds-color-green-900: #2c3630;
$ds-color-green-950: #1e2420;

// Yellow (Desaturated)
$ds-color-yellow-50: #faf7f2;
$ds-color-yellow-100: #ede3d5;
$ds-color-yellow-200: #ded0bc;
$ds-color-yellow-300: #cbb99e;
$ds-color-yellow-400: #b9a383;
$ds-color-yellow-500: #9b876a;
$ds-color-yellow-600: #7d6b52;
$ds-color-yellow-700: #6d5d47;
$ds-color-yellow-800: #5e503c;
$ds-color-yellow-900: #453b2c;
$ds-color-yellow-950: #2f281e;

// Red (Desaturated)
$ds-color-red-50: #f9f5f5;
$ds-color-red-100: #ebdada;
$ds-color-red-200: #debdbd;
$ds-color-red-300: #cf9c9c;
$ds-color-red-400: #bd7d7d;
$ds-color-red-500: #9f6666;
$ds-color-red-600: #7f5050;
$ds-color-red-700: #6f4646;
$ds-color-red-800: #5f3a3a;
$ds-color-red-900: #462b2b;
$ds-color-red-950: #301d1d;

// Blue (Desaturated)
$ds-color-blue-50: #f4f6f8;
$ds-color-blue-100: #dadfe5;
$ds-color-blue-200: #bdc5d1;
$ds-color-blue-300: #9faabd;
$ds-color-blue-400: #8291a8;
$ds-color-blue-500: #6f7f98;
$ds-color-blue-600: #546277;
$ds-color-blue-700: #495669;
$ds-color-blue-800: #3e4858;
$ds-color-blue-900: #2e3541;
$ds-color-blue-950: #1f242c;

// Teal (Desaturated)
$ds-color-teal-50: #f3f5f5;
$ds-color-teal-100: #dadede;
$ds-color-teal-200: #bdc5c5;
$ds-color-teal-300: #9faaaa;
$ds-color-teal-400: #829191;
$ds-color-teal-500: #6f7e7e;
$ds-color-teal-600: #556262;
$ds-color-teal-700: #4a5656;
$ds-color-teal-800: #3f4949;
$ds-color-teal-900: #2f3636;
$ds-color-teal-950: #202525;

// Black and white
$ds-color-white: #fff;
$ds-color-black: #000;

// CSS custom properties
:root {
  // Neutral/grey
  --ds-color-neutral-50: #{$ds-color-neutral-50};
  --ds-color-neutral-100: #{$ds-color-neutral-100};
  --ds-color-neutral-200: #{$ds-color-neutral-200};
  --ds-color-neutral-300: #{$ds-color-neutral-300};
  --ds-color-neutral-400: #{$ds-color-neutral-400};
  --ds-color-neutral-500: #{$ds-color-neutral-500};
  --ds-color-neutral-600: #{$ds-color-neutral-600};
  --ds-color-neutral-700: #{$ds-color-neutral-700};
  --ds-color-neutral-800: #{$ds-color-neutral-800};
  --ds-color-neutral-900: #{$ds-color-neutral-900};
  --ds-color-neutral-950: #{$ds-color-neutral-950};

  // Green
  --ds-color-green-50: #{$ds-color-green-50};
  --ds-color-green-100: #{$ds-color-green-100};
  --ds-color-green-200: #{$ds-color-green-200};
  --ds-color-green-300: #{$ds-color-green-300};
  --ds-color-green-400: #{$ds-color-green-400};
  --ds-color-green-500: #{$ds-color-green-500};
  --ds-color-green-600: #{$ds-color-green-600};
  --ds-color-green-700: #{$ds-color-green-700};
  --ds-color-green-800: #{$ds-color-green-800};
  --ds-color-green-900: #{$ds-color-green-900};
  --ds-color-green-950: #{$ds-color-green-950};

  // Yellow
  --ds-color-yellow-50: #{$ds-color-yellow-50};
  --ds-color-yellow-100: #{$ds-color-yellow-100};
  --ds-color-yellow-200: #{$ds-color-yellow-200};
  --ds-color-yellow-300: #{$ds-color-yellow-300};
  --ds-color-yellow-400: #{$ds-color-yellow-400};
  --ds-color-yellow-500: #{$ds-color-yellow-500};
  --ds-color-yellow-600: #{$ds-color-yellow-600};
  --ds-color-yellow-700: #{$ds-color-yellow-700};
  --ds-color-yellow-800: #{$ds-color-yellow-800};
  --ds-color-yellow-900: #{$ds-color-yellow-900};
  --ds-color-yellow-950: #{$ds-color-yellow-950};

  // Red
  --ds-color-red-50: #{$ds-color-red-50};
  --ds-color-red-100: #{$ds-color-red-100};
  --ds-color-red-200: #{$ds-color-red-200};
  --ds-color-red-300: #{$ds-color-red-300};
  --ds-color-red-400: #{$ds-color-red-400};
  --ds-color-red-500: #{$ds-color-red-500};
  --ds-color-red-600: #{$ds-color-red-600};
  --ds-color-red-700: #{$ds-color-red-700};
  --ds-color-red-800: #{$ds-color-red-800};
  --ds-color-red-900: #{$ds-color-red-900};
  --ds-color-red-950: #{$ds-color-red-950};

  // Blue
  --ds-color-blue-50: #{$ds-color-blue-50};
  --ds-color-blue-100: #{$ds-color-blue-100};
  --ds-color-blue-200: #{$ds-color-blue-200};
  --ds-color-blue-300: #{$ds-color-blue-300};
  --ds-color-blue-400: #{$ds-color-blue-400};
  --ds-color-blue-500: #{$ds-color-blue-500};
  --ds-color-blue-600: #{$ds-color-blue-600};
  --ds-color-blue-700: #{$ds-color-blue-700};
  --ds-color-blue-800: #{$ds-color-blue-800};
  --ds-color-blue-900: #{$ds-color-blue-900};
  --ds-color-blue-950: #{$ds-color-blue-950};

  // Teal
  --ds-color-teal-50: #{$ds-color-teal-50};
  --ds-color-teal-100: #{$ds-color-teal-100};
  --ds-color-teal-200: #{$ds-color-teal-200};
  --ds-color-teal-300: #{$ds-color-teal-300};
  --ds-color-teal-400: #{$ds-color-teal-400};
  --ds-color-teal-500: #{$ds-color-teal-500};
  --ds-color-teal-600: #{$ds-color-teal-600};
  --ds-color-teal-700: #{$ds-color-teal-700};
  --ds-color-teal-800: #{$ds-color-teal-800};
  --ds-color-teal-900: #{$ds-color-teal-900};
  --ds-color-teal-950: #{$ds-color-teal-950};

  // Black and white
  --ds-color-white: #{$ds-color-white};
  --ds-color-black: #{$ds-color-black};
}
